<p style="margin:50px;">
        {{'Apple Homepage commented out' | translate}}
</p>
        <!--<section id="section-heroes" class="homepage-section" data-analytics-region="hero" data-section-content-type="heroes" data-analytics-activitymap-region-id="hero">				
            <ul id="hero-positions" class="homepage-section-positions  heroes-count-2" data-heroes-count="2">
                <li class="homepage-section-item hero-position hero-position-1" data-promo-type="show-hide" id="hero-position-1">		
                    <div class="hero iphone-x hero-iphone-x promo-managed-unit promo-managed-unit-iphone-x" data-promo-id="hero-iphone-x" data-content-unit="iphone-x" data-analytics-section-engagement="name:hero-iphone-x">
                        <a href="/iphone-x/" tabindex="0" class="unit-wrapper">
                          <div class="unit-copy-wrapper"><h2 class="headline">iPhone X</h2><h3 class="subhead">Say hello to the future.</h3></div>											
                          <div class="unit-image-wrapper image-constraints-full"><figure class="unit-image unit-image-iphone-x-iphone-x image-anchored-center image-anchored-top image-size-static" data-progressive-image></figure></div>
                        </a>
                    </div>
                </li>
                <li class="homepage-section-item hero-position hero-position-2" data-promo-type="show-hide" id="hero-position-2">
                    <div class="hero iphone-8 hero-iphone-8 promo-managed-unit promo-managed-unit-iphone-8" data-promo-id="hero-iphone-8" data-content-unit="iphone-8" data-analytics-section-engagement="name:hero-iphone-8">
                        <a href="/iphone-8/" tabindex="0" class="unit-wrapper">
                            <div class="unit-copy-wrapper"><h2 class="headline">iPhone 8</h2><h3 class="subhead">A new generation of iPhone.</h3></div>														
                            <div class="unit-image-wrapper image-constraints-full"><figure class="unit-image unit-image-iphone-8-iphone-8 image-anchored-center image-anchored-bottom image-size-static" data-progressive-image></figure></div>				
                        </a>
                    </div>
                </li>
            </ul>
        </section>		
        <section id="section-promos" class="homepage-section" data-analytics-region="promo" data-section-content-type="promos" data-analytics-activitymap-region-id="promo">
            <ul id="promo-positions" class="homepage-section-positions  promos-count-6"	data-promos-count="6">
                <li class="homepage-section-item promo-position promo-position-1" data-promo-type="show-hide" id="promo-position-1">
                    <div class="promo apple-watch-series-3 promo-apple-watch-series-3 promo-managed-unit promo-managed-unit-apple-watch-series-3" data-promo-id="promo-apple-watch-series-3" data-content-unit="apple-watch-series-3" data-analytics-section-engagement="name:promo-apple-watch-series-3">
                        <a href="/apple-watch-series-3/" tabindex="0" class="unit-wrapper">
                            <div class="unit-copy-wrapper"><h4 class="logo-image unit-header logo-image-watch-promo"><span class="logo-image-label">Apple Watch Series 3</span></h4><h5 class="unit-subheader">Freedom calls.</h5></div>
                            <div class="unit-image-wrapper image-constraints-partial"><figure class="unit-image unit-image-watch-series-3 image-anchored-center image-anchored-middle image-size-static" data-progressive-image></figure></div>													
                        </a>								
                    </div>
                </li>
                <li class="homepage-section-item promo-position promo-position-2" data-promo-type="show-hide" id="promo-position-2">
                    <div class="promo apple-tv-4k promo-apple-tv-4k promo-managed-unit promo-managed-unit-apple-tv-4k" data-promo-id="promo-apple-tv-4k" data-content-unit="apple-tv-4k" data-analytics-section-engagement="name:promo-apple-tv-4k">				
                        <a href="/apple-tv-4k/" tabindex="0" class="unit-wrapper theme-dark">
                            <div class="unit-copy-wrapper"><h4 class="logo-image unit-header logo-image-tv"><span class="logo-image-label">Apple TV 4K</span></h4><h5 class="unit-subheader">The 4K HDR era. Now playing.</h5></div>				
                            <div class="unit-image-wrapper image-constraints-partial"><figure class="unit-image unit-image-tv-4k image-anchored-center image-anchored-middle image-size-static" data-progressive-image></figure></div>
                        </a>
                    </div>
                </li>
                <li class="homepage-section-item promo-position promo-position-3" data-promo-type="show-hide" id="promo-position-3">
                    <div class="promo ipad-pro promo-ipad-pro promo-managed-unit promo-managed-unit-ipad-pro" data-promo-id="promo-ipad-pro" data-content-unit="ipad-pro" data-analytics-section-engagement="name:promo-ipad-pro">
                        <a href="/ipad-pro/" tabindex="0" class="unit-wrapper">
                            <div class="unit-copy-wrapper"><h4 class="unit-header">iPad Pro</h4><h5 class="unit-subheader">Anything you can do,<br class="medium-small-only" /> you can do better.</h5></div>
                            <div class="unit-image-wrapper image-constraints-partial"><figure class="unit-image unit-image-ipad-pro image-anchored-center image-anchored-middle image-size-static" data-progressive-image></figure></div>
                        </a>
                    </div>
                </li>
                <li class="homepage-section-item promo-position promo-position-4" data-promo-type="show-hide" id="promo-position-4">
                    <div class="promo imac-pro promo-imac-pro promo-managed-unit promo-managed-unit-imac-pro" data-promo-id="promo-imac-pro" data-content-unit="imac-pro" data-analytics-section-engagement="name:promo-imac-pro">
                        <a href="/imac-pro/" tabindex="0" class="unit-wrapper theme-dark">
                            <div class="unit-copy-wrapper"><h4 class="unit-header">iMac Pro</h4><h5 class="unit-subheader">Available now.</h5></div>
                            <div class="unit-image-wrapper image-constraints-full"><figure class="unit-image unit-image-imac-pro image-anchored-center image-anchored-bottom image-size-static" data-progressive-image></figure></div>
                        </a>
                    </div>
                </li>
                <li class="homepage-section-item promo-position promo-position-5" data-promo-type="show-hide" id="promo-position-5">
                    <div class="promo airpods promo-airpods promo-managed-unit promo-managed-unit-airpods" data-promo-id="promo-airpods" data-content-unit="airpods" data-analytics-section-engagement="name:promo-airpods">
                        <a href="/airpods/" tabindex="0" class="unit-wrapper">
                            <div class="unit-copy-wrapper"><h4 class="unit-header">AirPods</h4><h5 class="unit-subheader">Wireless. Effortless. Magical.</h5></div>
                            <div class="unit-image-wrapper image-constraints-partial"><figure class="unit-image unit-image-airpods image-anchored-center image-anchored-middle image-size-static" data-progressive-image></figure></div>
                        </a>
                    </div>
                </li>
                <li class="homepage-section-item promo-position promo-position-6" data-promo-type="show-hide" id="promo-position-6">
                    <div class="promo accessories promo-accessories promo-managed-unit promo-managed-unit-accessories" data-promo-id="promo-accessories" data-content-unit="accessories" data-analytics-section-engagement="name:promo-accessories">
                        <a href="/us/shop/goto/accessories" tabindex="0" class="unit-wrapper">
                            <div class="unit-copy-wrapper"><h4 class="unit-header">Even More to Love</h4><h5 class="unit-subheader">Shop accessories.</h5></div>
                            <div class="unit-image-wrapper image-constraints-partial"><figure class="unit-image unit-image-accessories image-anchored-center image-anchored-bottom image-size-static" data-progressive-image></figure></div>
                        </a>
                    </div>						
                </li>
            </ul>
        </section>
        
        <!-- <section id="section-banners" class="homepage-section" data-analytics-region="banner" data-section-content-type="banners" data-analytics-activitymap-region-id="banner">
            <ul id="banner-positions" class="homepage-section-positions  banners-count-1" data-banners-count="1">
                <li class="homepage-section-item banner-position banner-position-1" data-promo-type="show-hide" id="banner-position-1">
                    <div class="banner red-cross banner-red-cross promo-managed-unit promo-managed-unit-red-cross" data-promo-id="banner-red-cross" data-content-unit="red-cross" data-analytics-section-engagement="name:banner-red-cross">
                        <a href="https://buy.itunes.apple.com/WebObjects/MZFinance.woa/wa/buyCharityGiftWizard?&amp;mt&#x3D;6" tabindex="0" class="unit-wrapper">
                            <div class="unit-copy-wrapper"><h5 class="logo-image unit-header logo-image-arc"><span class="logo-image-label">American Red Cross</span></h5><p class="more">Donate to support <br class="small-only" />California Wildfires Relief</p></div>
                        </a>
                    </div>
                </li>
            </ul>
        </section>    -->